*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

.container{
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.counterbtn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 13px;

}
button{
  margin: 12px;
  width: 92px;
  cursor: pointer;
}